
{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock%}

{% block content %}
    <h1 class="title">{{titulo}}</h1>
    <ul>
        {% for carrera in carreras %}
            <li>
                <h4>{{carrera.id}} - {{carrera.nombre}}</h4>
                <p>Nombre: {{carrera.nombre}}</P>
                <P>Nombre Corto: {{carrera.nombrecorto}}</P>
                <P>Fecha Fundacion: {{carrera.fecha_fundacion}}</P>
                <P>Estado: {{carrera.estado}}</P>
                <p>
                <a href="{% url 'eliminar_carrera' id=carrera.id %}">Eliminar</a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
